<ScrollView>
    <GridLayout rows="40, 600">
        <GridLayout row="0" class="report-date-header" width="100%" height="40" columns="1*, 8*, 1*" androidElevation="6">
          <Image col="0" class="report-icon" src="res://back" (tap)="goBack()"></Image>
      
          <StackLayout col="1" width="80%" orientation="horizontal" (tap)="onReportOptionsClicked()">
            <Image class="report-icon" src="res://calendar"></Image>
            <Label class="fs-14 report-date-text" [text]="reportDates" verticalAlignment="middle"></Label>
          </StackLayout>
      
          <Image col="2"  class="report-icon" src="res://forward" (tap)="goForward()"></Image>
        </GridLayout>
      
        <GridLayout *ngIf="!isLoading" row="1" rows="50, 250, 50, 250">
          <StackLayout row="0" padding="4">
            <Label class="text-center fs-15 bold" [text]="'myGroupPieChartCollectedTitle' | translate"></Label>
          </StackLayout>
      
          <GridLayout row="1" height="100%">
            <RadPieChart *ngIf="!noDataFound" tkExampleTitle tkToggleNavButton minHeight="200" allowAnimation="true" row="0">
              <PieSeries tkPieSeries
                  seriesName="collectPie"
                  selectionMode="None"
                  expandRadius="0.4"
                  outerRadiusFactor="0.7"
                  valueProperty="amountCollected"
                  legendLabel="username"
                  showLabels="true"
                  showPercentage="false"
                  [items]="pieSourceCollected">
                  <PointLabelStyle tkPieLabelStyle margin="15" textFormat="%.2f €"></PointLabelStyle>
              </PieSeries>
              <Palette tkPiePalette seriesName="collectPie">
                  <PaletteEntry tkPiePaletteEntry fillColor="#1B998B" strokeColor="#1B998B"></PaletteEntry>
                  <PaletteEntry tkPiePaletteEntry fillColor="#97C8EB" strokeColor="#97C8EB"></PaletteEntry>
                  <PaletteEntry tkPiePaletteEntry fillColor="#001F54" strokeColor="#001F54"></PaletteEntry>
                  <PaletteEntry tkPiePaletteEntry fillColor="#2B193D" strokeColor="#2B193D"></PaletteEntry>
                  <PaletteEntry tkPiePaletteEntry fillColor="#484D6D" strokeColor="#484D6D"></PaletteEntry>
                  <PaletteEntry tkPiePaletteEntry fillColor="#2C365E" strokeColor="#2C365E"></PaletteEntry>
              </Palette>
          
              <RadLegendView tkPieLegend position="Top" width="100%"></RadLegendView>
            </RadPieChart>
      
            <StackLayout *ngIf="noDataFound" width="100%" verticalAlignment="middle">
              <Label class="text-center" [text]="'noDataFound' | translate"></Label>
            </StackLayout>
            
          </GridLayout>
      
          <StackLayout row="2">
            <Label class="text-center fs-14 bold" [text]="'myGroupPieChartSpentTitle' | translate"></Label>
          </StackLayout>
      
          <GridLayout row="3" height="100%">
      
            <RadPieChart *ngIf="!noDataFound" tkExampleTitle tkToggleNavButton minHeight="200" allowAnimation="true" row="0">
              <PieSeries tkPieSeries
                  seriesName="collectPie"
                  selectionMode="None"
                  expandRadius="0.4"
                  outerRadiusFactor="0.7"
                  valueProperty="amountSpent"
                  legendLabel="username"
                  showLabels="true"
                  showPercentage="false"
                  [items]="pieSourceSpent">
                  <PointLabelStyle tkPieLabelStyle margin="15" textFormat="%.2f €"></PointLabelStyle>
              </PieSeries>
              <Palette tkPiePalette seriesName="collectPie">
                  <PaletteEntry tkPiePaletteEntry fillColor="#1B998B" strokeColor="#1B998B"></PaletteEntry>
                  <PaletteEntry tkPiePaletteEntry fillColor="#97C8EB" strokeColor="#97C8EB"></PaletteEntry>
                  <PaletteEntry tkPiePaletteEntry fillColor="#001F54" strokeColor="#001F54"></PaletteEntry>
                  <PaletteEntry tkPiePaletteEntry fillColor="#2B193D" strokeColor="#2B193D"></PaletteEntry>
                  <PaletteEntry tkPiePaletteEntry fillColor="#484D6D" strokeColor="#484D6D"></PaletteEntry>
                  <PaletteEntry tkPiePaletteEntry fillColor="#2C365E" strokeColor="#2C365E"></PaletteEntry>
              </Palette>
          
              <RadLegendView tkPieLegend position="Top" width="100%"></RadLegendView>
            </RadPieChart>
      
            <StackLayout *ngIf="noDataFound" padding="4" verticalAlignment="middle">
              <Label class="text-center" [text]="'noDataFound' | translate"></Label>
            </StackLayout>
            
          </GridLayout>
      
        </GridLayout>
      
        <ActivityIndicator row="1" *ngIf="isLoading" horizontalAlignment="center" #activityIndicator busy="true"
              width="100" height="100" class="activity-indicator">
          </ActivityIndicator>
      </GridLayout>      
</ScrollView>
